<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516847228106-e8k7n1m5u2u1uuusc5mi2sesp3ilk7cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516847228106-e8k7n1m5u2u1uuusc5mi2sesp3ilk7cf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>516847228106-1c5riu6h8nahm7ftht6r0d6o4i9c255j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD26NTwj9FlA7lGP02M-6mwUAABh9WwrPM</string>
	<key>GCM_SENDER_ID</key>
	<string>516847228106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frdynurm.chatapps</string>
	<key>PROJECT_ID</key>
	<string>chatapps-ca5b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapps-ca5b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516847228106:ios:3efbfd5734d159356b9033</string>
</dict>
</plist>